
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^notchswap\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.notchswap\.com$
RewriteRule ^/?$ "https\:\/\/notchswap\.com\/" [R=301,L]

Options -MultiViews
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

